<ng-container *ngIf="selectedSpaceship; else noSpaceshipSelected">
  <div class="details-page container-fluid  w-100 h-100 rounded bg-black">
    <div class="row  justify-content-center">
      <div class="details_page__spaceship-title bg-white col-11 col-sm-10 m-1 m-sm-2 rounded border shadow">
        <p>Congratulations! You selected the best spaceship called:</p>
        <h1>{{selectedSpaceship.name}}</h1>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="details-page__spaceship-details bg-white col-11 col-sm-10 m-1 m-sm-2 p-3 rounded border shadow">
        <p class="m-0"> <img [alt]="selectedSpaceship.name" [ngClass]="'spaceship-image-'+selectedSpaceship.color" class="mr-2 img-thumbnail float-left rounded spaceship-thumbnail" src="../assets/img/{{selectedSpaceship.shape}}.jpg"
          />
        </p>
        <p class="m-2 text-justify">Description: {{selectedSpaceship.description}}</p>
        <div class="m-2">
          <p class="m-0"> Speed: <b>{{selectedSpaceship.speed}}</b></p>
          <p class="m-0"> Shape: <b>{{selectedSpaceship.shape}}</b></p>
          <p class="m-0"> Size: <b>{{selectedSpaceship.size}}</b></p>
          <p class="m-0"> Color: <b [ngStyle]="{'background-color': selectedSpaceship.color, 'color': 'white'}">{{selectedSpaceship.color}}</b></p>
          <p>Available from: {{selectedSpaceship.availableFrom}}<br> Available to: {{selectedSpaceship.availableTo}}</p>
        </div>
      </div>

      <div class="details-page__want-more bg-white col-11 col-sm-10 m-1 m-sm-2 p-3 rounded border shadow">
        <p>Want more? Pick additional packages you like to be served onboard:</p>
        <form>
          <label [for]="beverages">Beverages:&nbsp;</label>
          <input id="beverages" [(ngModel)]="additionalPackages.beverages" type="checkbox" name="beverages">
          <br>
          <label [for]="supper">Supper:&nbsp;</label>
          <input id="supper" [(ngModel)]="additionalPackages.supper" type="checkbox" name="supper">
          <br>
          <label [for]="hibernation">Hibernation:&nbsp;</label>
          <input id="hibernation" [(ngModel)]="additionalPackages.hibernation" type="checkbox" name="hibernation">
          <br>
          <label [for]="astralProjection">Astral Projection:&nbsp;</label>
          <input id="astralProjection" [(ngModel)]="additionalPackages.astralProjection" type="checkbox" name="astralProjection">
        </form>
      </div>

      <div class="details-page__summary col-11 col-sm-8 m-1 m-sm-4 p-3 rounded border shadow">
        <button class="btn btn-warning w-100" (click)="showSummary()">Show Summary</button>
      </div>

    </div>
  </div>
</ng-container>

<ng-template #noSpaceshipSelected>
  <p>No Spaceship Selected. Please go back and pick one.</p>
</ng-template>


<ng-container *ngIf="showModal">
  <div class="container">
    <div class="row position-fixed fixed-top w-100 w-sm-75 justify-content-center">
      <div (click)="showModal = false" class="dim-around position-fixed fixed-top h-100"> </div>
      <div class="beer-modal bg-white p-0 rounded shadow m-0 m-sm-2 col-12 col-sm-9  justify-content-center">
        <div class="summary-modal w-100 p-2 justify-content-center">
          <div class="text-right">
            <button class="btn text-right bg-white mr-1" (click)="showModal = false">X</button>
          </div>

          <div>
            <div *ngIf="selectedData; else needToMakeChoices;">
              <p>Summary:</p>
              <div class="card m-0 m-sm-2 p-2 bg-white">
                <p>You can start your cruise at <b> {{selectedData.inputDateFrom}}</b>
                  and plan to happily land on <b>{{selectedData.inputDateTo}}</b> (not gauranteed)
                </p>
                <p>
                  You want takeoff from <b>{{selectedData.pickUp}}</b> with landing on <b>{{selectedData.dropOff}}</b>.</p>
                <p> Spaceship of your choice is <b>{{selectedSpaceship.name}}</b>.</p>
                <p *ngIf="additionalPackages.beverages || additionalPackages.supper || additionalPackages.hibernation || additionalPackages.astralProjection">
                  Onboard you will be served with: {{onboardServices(additionalPackages)}}
                </p>
                <p>Everything is planned so stay safe!</p>
              </div>

            </div>
            <ng-template #needToMakeChoices>
              <p>You need to make your choices on previous pages first.</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>