.details-page {
    background-image: url(../../assets/img/abstract-astronomy-atmosphere-586030.jpg);
    background-repeat: no-repeat;
    background-color: rgb(19, 19, 19);
    border-radius: 30px;
    border: 1px solid gray;
}

.details_page__spaceship-title {
    text-shadow: rgba(187, 187, 187, 0.596) 2px 5px 2px;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.details-page__spaceship-details {
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.details-page__want-more {
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.details-page__summary {
    background-color: green;
}

.summary-modal {
    z-index: 1;
    text-align: center;
    margin: 3% auto;
    background-color: white;
}

.dim-around {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.555);
}

.spaceship-image-green {
    filter: hue-rotate(260deg);
}

.spaceship-image-blue {
    filter: hue-rotate(35deg);
}