.spaceship-thumbnail {
    width: 120px;
}

.spaceship-image-green {
    filter: hue-rotate(260deg);
}

.spaceship-image-blue {
    filter: hue-rotate(35deg);
}

.features-label {
    text-decoration: underline;
    text-decoration-color: lightgray;
}