<div class="container">
  <section class="row">
    <div class="col-12 col-md-6">
      <p class="m-0">Limit time range to check spaceships availability:</p>
      <input (click)="setAndParseInputDateFrom(dateFrom.value)" class="rounded p-1 m-1 shadow-sm" type="date" value="2018-08-15"
        #dateFrom required>
      <input (click)="setAndParseInputDateTo(dateTo.value)" class="rounded p-1 m-1 shadow-sm" type="date" value="2025-09-30" #dateTo
        required>
    </div>

    <div class="col-12 col-md-6">
      <p class="m-0">Available locations:</p>From
      <select class="rounded p-1 m-1 shadow-sm" #pickUpOpt>
        <option *ngFor="let place of pickUpDropOff">{{place}}</option>
      </select> To
      <select class="rounded p-1 m-1 shadow-sm" #dropOffOpt>
        <option *ngFor="let place of pickUpDropOff">{{place}}</option>
      </select>
    </div>

    <div class="col-12">
      <button class="btn btn-primary m-2 bg-primary text-white shadow-sm" [ngClass]="{'bg-dark': submitIndicator}" (click)="submitData(dateFrom.value,dateTo.value,pickUpOpt.value,dropOffOpt.value)">submit</button>
      <ng-container *ngIf="submitIndicator">Your choice is submitted.</ng-container>
    </div>
  </section>

  <section class="row">
    <div class="col">
      <div class="bg-light border rounded shadow-sm p-2 mb-2">

        <p class="text-primary">Exclude spaceships features you prefer less:</p>

        <form class="form-group">

          <div class="row mb-1">
            <div class="col-auto">
              <b class="features-label">Shape:</b>
            </div>

            <div class="col-auto ml-0 mr-0 mb-1 pr-0" *ngFor="let shape of spaceshipShape; let i = index;">
              <div class="p-1 text-center border bg-white rounded">
                <label [for]="shape+i">{{shape}}</label>&nbsp;
                <input [id]="shape+i" (change)="switchValueInArray(selectedShapes,i,shape)" name="i" value="shape" type="checkbox" checked>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-auto">
              <b class="features-label">Speed:</b>
            </div>

            <div class="col-auto ml-0 mr-0 mb-1 pr-0" *ngFor="let speed of spaceshipSpeed; let i = index;">
              <div class="p-1 text-center border bg-white rounded">
                <label [for]="speed+i">{{speed}}</label>&nbsp;
                <input [id]="speed+i" (change)="switchValueInArray(selectedSpeeds,i,speed)" name="i" value="speed" type="checkbox" checked>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-auto">
              <b class="features-label">Color:</b>
            </div>

            <div class="col-auto ml-0 mr-0 mb-1 pr-0" *ngFor="let color of spaceshipColor; let i = index;">
              <div class="p-1 text-center border bg-white rounded">
                <label [for]="color+i">{{color}}</label>&nbsp;
                <input [id]="color+i" (change)="switchValueInArray(selectedColors,i,color)" name="i" value="color" type="checkbox" checked>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-auto">
              <b class="features-label">Size:</b>
            </div>

            <div class="col-auto ml-0 mr-0 mb-1 pr-0" *ngFor="let size of spaceshipSize; let i = index;">
              <div class="p-1 text-center border bg-white rounded">
                <label [for]="size+i">{{size}}</label>&nbsp;
                <input [id]="size+i" (change)="switchValueInArray(selectedSizes,i,size)" name="i" value="size" type="checkbox" checked>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </section>


  <section class="row">
    <div class="col-12">
      <p>Available spaceships:</p>
    </div>

    <ng-container *ngFor="let spaceship of spaceships; let i = index;">
      <div class="col-12 col-lg-6" *ngIf="
      selectedShapes.includes(spaceship.shape) 
      && selectedSpeeds.includes(spaceship.speed) 
      && selectedColors.includes(spaceship.color)
      && selectedSizes.includes(spaceship.size)
      && parseDate(spaceship.availableFrom) > inputDateFrom_Parsed
      && parseDate(spaceship.availableTo) < inputDateTo_Parsed
      ">
        <div class="rounded bg-light p-2 mb-2">
          <b>{{spaceship.name}}</b>
          <img [alt]="spaceship.name" [ngClass]="'spaceship-image-'+spaceship.color" class="mr-2 img-thumbnail float-left rounded spaceship-thumbnail"
            src="../assets/img/{{spaceship.shape}}.jpg" />

          <p class="m-2 text-justify">{{spaceship.description | trimString}}</p>
          <div class="small m-2">
            <p class="m-0"> Speed: <b>{{spaceship.speed}}</b></p>
            <p class="m-0"> Shape: <b>{{spaceship.shape}}</b></p>
            <p class="m-0"> Size: <b>{{spaceship.size}}</b></p>
            <p class="m-0"> Color: <b>{{spaceship.color}}</b></p>
            <p>Available from: {{spaceship.availableFrom}}<br> Available to: {{spaceship.availableTo}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</div>