<nav class="navbar navbar-light bg-primary">
    <a class="rounded border p-2 text-white" routerLink="/">Init Page</a> <span class="text-white">></span>
    <a class="rounded border p-2 text-white" routerLink="/SpaceshipSelect">Select Spaceship</a> <span class="text-white">></span>
    <a class="rounded border p-2 text-white" routerLink="/SpaceshipDetails">Spaceship Details</a>
</nav>

<router-outlet></router-outlet>