<ng-container *ngIf="selectedData; else noTimeframeSelected;">
  <div class="container">

    <section class="row">
      <div class="card m-0 m-sm-2 p-2 bg-white">
        <p>Based on your previous choice you want to find spaceship available between <b> {{selectedData.inputDateFrom}}</b>
          and
          <b>{{selectedData.inputDateTo}}</b>. You want to take off from <b>{{selectedData.pickUp}}</b> with landing on
          <b>{{selectedData.dropOff}}</b>. Now you can select a spaceship.
        </p>
      </div>
    </section>

    <section class="row">

      <div class="col-12">
        <p>Available spaceships for given dates range:</p>
      </div>
      <ng-container *ngFor="let spaceship of spaceships">

        <div class="col-12 col-lg-6" *ngIf="
      selectedData.selectedShapes.includes(spaceship.shape) 
      && selectedData.selectedSpeeds.includes(spaceship.speed) 
      && selectedData.selectedColors.includes(spaceship.color)
      && selectedData.selectedSizes.includes(spaceship.size)
      && parseDate(spaceship.availableFrom) > parseDate(selectedData.inputDateFrom)
      && parseDate(spaceship.availableTo) < parseDate(selectedData.inputDateTo)
      ">
          <div class="shadow-sm rounded bg-light">
            <button class="btn btn-primary w-100 mb-1" (click)="selectSpaceship(spaceship)">Select spaceship: <b>{{spaceship.name}}</b></button>


            <p class="m-0"> <img [alt]="spaceship.name" [ngClass]="'spaceship-image-'+spaceship.color" class="mr-2 img-thumbnail float-left rounded spaceship-thumbnail"
                src="../assets/img/{{spaceship.shape}}.jpg" />
            </p>
            <p class="m-2 text-justify">{{spaceship.description}}</p>
            <div class="small m-2">
              <p class="m-0"> Speed: <b>{{spaceship.speed}}</b></p>
              <p class="m-0"> Shape: <b>{{spaceship.shape}}</b></p>
              <p class="m-0"> Size: <b>{{spaceship.size}}</b></p>
              <p class="m-0"> Color: <b>{{spaceship.color}}</b></p>
              <p>Available from: {{spaceship.availableFrom}}<br> Available to: {{spaceship.availableTo}}</p>
            </div>

          </div>
        </div>

      </ng-container>
    </section>

  </div>
</ng-container>

<ng-template #noTimeframeSelected>

  <p>Please go back and select timeframe and destinations you are interested in first.</p>

</ng-template>